
html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;
    
  }
  header {
    grid-column: 1 / 3;
    background: #7c2297;
    color: white;
    padding: 40px;
    text-align: center;
  }
  nav {
    white-space: nowrap;
    background: #7c2297;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    display: block;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
  }
  nav ul li a.current {
    background: black;
  }
  main {
    padding-bottom: 640px;
  }
  .isian {
    padding: 32px;
    margin: 0 0 32px 0;
  }
  .isian h1 {
    text-align: center;
  }
  footer {
    grid-column: 1 / 3;
    background: #3b1d47;
    padding: 2rem 1rem;
    color: white;
  }
  .gal{
    width: 300px;
     height: 200px;
     border: 4px solid #575D63;
     padding: 10px;
     margin-bottom: 10px;
  }
 